<h2 mat-dialog-title>Create a backup configuration</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="backupConfigForm">
    <h3>General</h3>

    <!-- Name field -->
    <mat-form-field class="input-full-width" appearance="fill" autocomplete="disabled">
      <mat-label>Name</mat-label>
      <input cdkFocusInitial formControlName="name" matInput placeholder="Ex. Website">
      <!-- Name errors -->
      <mat-error
        *ngIf="backupConfigForm.controls.name.touched && backupConfigForm.controls.name.invalid && backupConfigForm.controls.name.errors?.required"
        class="alert alert-danger">
        The name is required.
      </mat-error>

      <mat-error
        *ngIf="backupConfigForm.controls.name.touched && backupConfigForm.controls.name.invalid && backupConfigForm.controls.name.errors?.apiError"
        class="alert alert-danger">
        {{backupConfigForm.controls.name.errors?.apiError}}
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>

    <!-- To keep field -->
    <mat-form-field class="input-full-width" appearance="fill" autocomplete="disabled">
      <mat-label>Backups to keep</mat-label>
      <input formControlName="to_keep" type="number" matInput placeholder="Ex. 5">

      <!-- To keep errors -->
      <mat-error
        *ngIf="backupConfigForm.controls.to_keep.touched && backupConfigForm.controls.to_keep.invalid && backupConfigForm.controls.to_keep.errors?.required"
        class="alert alert-danger">
        The number of backup to keep is required.
      </mat-error>

      <mat-error
        *ngIf="backupConfigForm.controls.to_keep.touched && backupConfigForm.controls.to_keep.invalid && backupConfigForm.controls.to_keep.errors?.apiError"
        class="alert alert-danger">
        {{backupConfigForm.controls.to_keep.errors?.apiError}}
      </mat-error>
    </mat-form-field>

    <!-- Frequency field -->
    <mat-form-field class="input-full-width" appearance="fill" autocomplete="disabled">
      <mat-label>Frequency</mat-label>
      <input formControlName="frequency" matInput placeholder="Ex. 0 4 * * *">
      <!-- Frequency errors -->
      <mat-error
        *ngIf="backupConfigForm.controls.frequency.touched && backupConfigForm.controls.frequency.invalid && backupConfigForm.controls.frequency.errors?.required"
        class="alert alert-danger">
        The frequency to do the backup is required.
      </mat-error>
      <mat-error
        *ngIf="backupConfigForm.controls.frequency.touched && backupConfigForm.controls.frequency.invalid && backupConfigForm.controls.frequency.errors?.cronFormat"
        class="alert alert-danger">
        The frequency format is incorrect.
      </mat-error>
      <mat-error
        *ngIf="backupConfigForm.controls.frequency.touched && backupConfigForm.controls.frequency.invalid && backupConfigForm.controls.frequency.errors?.apiError"
        class="alert alert-danger">
        {{backupConfigForm.controls.frequency.errors?.apiError}}
      </mat-error>
    </mat-form-field>

    <h3>Origin</h3>

    <!-- Origin type select -->
    <mat-form-field class="input-full-width" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="from_type">
        <mat-option *ngFor="let type of backupTypesOrigin" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-select>

      <!-- Origin errors -->
      <mat-error
        *ngIf="backupConfigForm.controls.from_type.touched && backupConfigForm.controls.from_type.invalid && backupConfigForm.controls.from_type.errors?.required"
        class="alert alert-danger">
        The origin of the backup is required.
      </mat-error>

      <mat-error
        *ngIf="backupConfigForm.controls.from_type.touched && backupConfigForm.controls.from_type.invalid && backupConfigForm.controls.from_type.errors?.apiError"
        class="alert alert-danger">
        {{backupConfigForm.controls.from_type.errors?.apiError}}
      </mat-error>
    </mat-form-field>

    <!-- Origin type fields -->
    <ng-container *ngIf="backupConfigForm.controls.from_type.value !== null">
      <mb-backup-config-type-form [backupType]="backupConfigForm.controls.from_type.value"
        (updateEmitter)="updateFormGroupFromParameters($event)" [backupTypeFormGroup]="formGroupFromParameters">
      </mb-backup-config-type-form>
    </ng-container>

    <h3>Destination</h3>

    <!-- Destination type select -->
    <mat-form-field class="input-full-width" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="to_type">
        <mat-option *ngFor="let type of backupTypesDestination" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-select>

      <!-- Destination errors -->
      <mat-error
        *ngIf="backupConfigForm.controls.to_type.touched && backupConfigForm.controls.to_type.invalid && backupConfigForm.controls.to_type.errors?.required"
        class="alert alert-danger">
        The destination of the backup is required.
      </mat-error>
      <mat-error
        *ngIf="backupConfigForm.controls.to_type.touched && backupConfigForm.controls.to_type.invalid && backupConfigForm.controls.to_type.errors?.apiError"
        class="alert alert-danger">
        {{backupConfigForm.controls.to_type.errors?.apiError}}
      </mat-error>
    </mat-form-field>

    <!-- Destination type fields -->
    <ng-container *ngIf="backupConfigForm.controls.to_type.value !== null">
      <mb-backup-config-type-form [backupType]="backupConfigForm.controls.to_type.value"
        [backupTypeFormGroup]="formGroupToParameters" (updateEmitter)="updateFormGroupToParameters($event)">
      </mb-backup-config-type-form>
    </ng-container>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="!backupConfigForm.valid" mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>