<section class="sidenav-section" [class.sidenav]="isExpanded">
    <div class="logo">
        <img src="/assets/logos/logo_orange.svg"/>
    </div>
    <div class="toggle" (click)="toggleMenu.emit(null)">
        <mat-icon >
            {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
        </mat-icon>
    </div>
    <mat-list class="nav" *ngFor="let route of routeLinks">
        <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="{{ route.link }}">
            <mat-icon mat-list-icon [matTooltip]="!isExpanded ? route.name : ''" matTooltipPosition="right">
                {{ route.icon }}</mat-icon>
            <p matLine *ngIf="isExpanded">{{ route.name }}</p>
        </a>
    </mat-list>
</section>