<ng-container *ngIf="backupType !== null && backupTypeFormGroup !== null" [formGroup]="backupTypeFormGroup">

  <ng-container *ngFor="let param of backupType.parameters">
    <container-element [ngSwitch]="param.type">
      <!-- Input string -->
      <ng-container *ngSwitchCase="'string'">
        <mat-form-field class="input-full-width" appearance="fill" autocomplete="disabled">
          <mat-label>{{param.label}}</mat-label>
          <input matInput [formControlName]="param.name">

          <!-- Destination errors -->

          <mat-error
            *ngIf="backupTypeFormGroup && backupTypeFormGroup.controls[param.name].touched && backupTypeFormGroup.controls[param.name].invalid"
            class="alert alert-danger">
            Error.
          </mat-error>
        </mat-form-field>
      </ng-container>
      <!-- Input unsupported -->
      <ng-container *ngSwitchDefault>Unsupported parameter</ng-container>

    </container-element>
  </ng-container>

</ng-container>