/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr";

* {
    box-sizing: border-box;
}
.animation-smooth {
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
    color: #ee9d3b;
    text-decoration: none;
}

mat-sidenav[style] {
    visibility: visible !important;
}
.mat-drawer {
    transform: none !important;
}
